.dropdown {
  width: 100%;
  color: #999; }
  .dropdown button.dropdown-toggle {
    background: url(../../../assets/images/programs/dropdown-caret.png) right 22px top 20px no-repeat;
    border: 2px solid #F5F5F5;
    width: 100%;
    height: 50px;
    text-align: left;
    font-size: 12px;
    box-shadow: 0 0 0 !important;
    padding-left: 16px;
    padding-right: 16px; }
  .dropdown .caret {
    border: 0 !important; }
