<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="../../assets/stylesheets/bootstrap.min.css" />
  <link rel="stylesheet" href="../../assets/stylesheets/main.css" />
</head>
<body>
  <div class="menubar">
    <ul>
      <li class="logo">
        <a href="#"></a>
      </li>
      <li class="hamburger">
        <a href="#"></a>
      </li>
      <li class="home">
        <a href="#"></a>
      </li>
      <li class="world">
        <a href="#"></a>
      </li>
      <li class="profile">
        <a href="#"></a>
      </li>
      <li class="money">
        <a href="#"></a>
      </li>
      <li class="settings active">
        <a href="#"></a>
      </li>
    </ul>
  </div>
  <div class="container">
    <div class="navbar">
      <div class="group-logo"\>
        <img src="../../assets/images/programs/Arsenal_FC_lg.png" />
        <p>Arsenal FC</p>
      </div>
      <div class="profile-info">
        <div class="nameplate">
          Tony Alvarez
        </div>
        <img class="avatar" src="" />
        <img class="dropdown" src="../../assets/images/dropdown.png" />
      </div>
    </div>
    <div class="wrapper">
      <div class="sidebar">
        <ul>
          <li>
            <a href="#" class="active">Business Details <span class="done"></span></a>
          </li>
          <li>
            <a href="#">Legal Representative <span></span></a>
          </li>
          <li>
            <a href="#">Proof of ID <span></span></a>
          </li>
          <li>
            <a href="#">Bank Information <span></span></a>
          </li>
          <li>
            <a href="#">Payment Method <span></span></a>
          </li>
          <li>
            <a href="#">Administrators <span></span></a>
          </li>
        </ul>
      </div>
      <div class="content" id="payment-method">
        <div class="heading">
          Payment Method
        </div>
        <div class="new-credit-card">
          <div class="row">
            <div class="col-md-6">
              <p>Cardholder name</p>
              <input type="text" placeholder="Enter Name" />
            </div>
            <div class="col-md-6">
              <p>Card number</p>
              <input type="text" placeholder="Enter Card Number" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <p>Expire Date</p>
              <div class="dropdown">
                <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <span class="dropdown-label">MM</span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-4">
              <p>&nbsp;</p>
              <div class="dropdown">
                <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <span class="dropdown-label">YYYY</span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-4">
              <p>CVV</p>
              <input type="text" placeholder="" />
            </div>
          </div>
          <a href="#" class="button">SAVE</a>
        </div>
        <div class="credit-card-list">
          <div class="card">
            <a href="#" class="tick selected"></a>
            <img src="../../assets/images/visa.png" />
            <p>*5495 (Default)</p>
          </div>
          <div class="card">
            <a href="#" class="tick"></a>
            <img src="../../assets/images/visa.png" />
            <p>*8393</p>
          </div>
          <div class="card">
            <a href="#" class="tick">+</a>
            <p>Add Bank Account</p>
          </div>
          <a href="#" class="button save-default">SAVE AS DEFAULT</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>