<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="../../assets/stylesheets/bootstrap.min.css" />
  <link rel="stylesheet" href="../../assets/stylesheets/main.css" />
</head>
<body>
  <div class="menubar">
    <ul>
      <li class="logo">
        <a href="#"></a>
      </li>
      <li class="hamburger">
        <a href="#"></a>
      </li>
      <li class="home">
        <a href="#"></a>
      </li>
      <li class="world">
        <a href="#"></a>
      </li>
      <li class="profile">
        <a href="#"></a>
      </li>
      <li class="money">
        <a href="#"></a>
      </li>
      <li class="settings active">
        <a href="#"></a>
      </li>
    </ul>
  </div>
  <div class="container">
    <div class="navbar">
      <div class="group-logo"\>
        <img src="../../assets/images/programs/Arsenal_FC_lg.png" />
        <p>Arsenal FC</p>
      </div>
      <div class="profile-info">
        <div class="nameplate">
          Tony Alvarez
        </div>
        <img class="avatar" src="" />
        <img class="dropdown" src="../../assets/images/dropdown.png" />
      </div>
    </div>
    <div class="wrapper">
      <div class="sidebar">
        <ul>
          <li>
            <a href="#" class="active">Business Details <span class="done"></span></a>
          </li>
          <li>
            <a href="#">Legal Representative <span></span></a>
          </li>
          <li>
            <a href="#">Proof of ID <span></span></a>
          </li>
          <li>
            <a href="#">Bank Information <span></span></a>
          </li>
          <li>
            <a href="#">Payment Method <span></span></a>
          </li>
          <li>
            <a href="#">Administrators <span></span></a>
          </li>
        </ul>
      </div>
      <div class="content two-col" id="proof-id">
        <div class="heading">
          Proof of ID
        </div>
        <p>Upload any form of Goverment ID</p>
        <div class="two-col-container">
          <div class="drag-file">
            <p>Drag a file here or <a href="#">Browse</a> to upload</p>
          </div>
          <p>Front</p>
        </div>
        <div class="two-col-container">
          <div class="drag-file">
            <p>Drag a file here or <a href="#">Browse</a> to upload</p>
          </div>
          <p>Back</p>
        </div>
        <a href="#" class="button">SAVE</a>
      </div>
    </div>
  </div>
</body>
</html>