<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="../../assets/stylesheets/bootstrap.min.css" />
  <link rel="stylesheet" href="../../assets/stylesheets/bootstrap-datetimepicker.min.css" />
  <link rel="stylesheet" href="../../assets/stylesheets/main.css" />
  <script src="../../assets/javascript/jquery.min.js"></script>
  <script type="text/javascript" src="../../assets/javascript/moment.js"></script>
  <script src="../../assets/javascript/chart.min.js"></script>
  <script src="../../assets/javascript/bootstrap.min.js"></script>
  <script type="text/javascript" src="../../assets/javascript/bootstrap-datetimepicker.min.js"></script>
  <script type="text/javascript" src="../../assets/javascript/bootstrap3-wysihtml5.min.js"></script>
</head>
<body>
  <div class="menubar">
    <ul>
      <li class="logo">
        <a href="#"></a>
      </li>
      <li class="hamburger">
        <a href="#"></a>
      </li>
      <li class="home">
        <a href="#"></a>
      </li>
      <li class="world">
        <a href="#"></a>
      </li>
      <li class="profile">
        <a href="#"></a>
      </li>
      <li class="money">
        <a href="#"></a>
      </li>
      <li class="settings active">
        <a href="#"></a>
      </li>
    </ul>
  </div>
  <div class="content-container">
    <div class="navbar">
      <div class="group-logo"\>
        <img src="../../assets/images/programs/Arsenal_FC_lg.png" />
        <p>Arsenal FC</p>
      </div>
      <div class="profile-info">
        <div class="nameplate">
          Tony Alvarez
        </div>
        <img class="avatar" src="" />
        <img class="dropdown" src="../../assets/images/dropdown.png" />
      </div>
    </div>
    <ul class="households-selection section">
      <li>
        <a href="#">Household</a>
        <div></div>
      </li>
      <li class="selected">
        <a href="#">Order History</a>
        <div></div>
      </li>
      <li>
        <a href="#">Documents</a>
        <div></div>
      </li>
    </ul>
    <div class="gen-info section">
      <div class="heading">
        General Information
        <div class="options">
          <img src="../../assets/images/ellipses.png" />
        </div>
      </div>
      <div class="gen-info-content">
        <p class="name-label">Household Name</p>
        <p class="info">Gray</p>

        <p class="name-label">Address</p>
        <p class="info">
          1234 Main Street</br>
          Any Town, CA 95124
        </p>
      </div>
    </div>
    <div class="notes section">
      <div class="heading">
        Notes
        <div class="options">
          <img src="../../assets/images/ellipses.png" />
        </div>
      </div>
    </div>
    <div id="programs-list" class="programs section">
      <div class="heading">
        Members
      </div>
      <div class="headings">
        <div class="star">
        </div>
        <div class="logo">
          Logo
        </div>
        <div class="name">
          Name
        </div>
        <div class="registration">
          Registrations
        </div>
        <div class="income">
          Total Income
        </div>
        <div class="view">
          View
        </div>
        <div class="ellipses-container">
          <img src="../../assets/images/ellipses.png" data-toggle="popover" data-placement="right" data-content="Edit | Delete" />
        </div>
      </div>
      <ul>
        <li>
          <div class="star">
            <img src="../../assets/images/households/star.png" />
          </div>
          <div class="logo">
            <img src="../../assets/images/programs/Arsenal_FC.png" />
          </div>
          <div class="name">Competitive Soccer</div>
          <div class="registration">546</div>
          <div class="income">$686.64</div>
          <div class="view">
            <button>View</button>
          </div>
          <div class="ellipses-container">
            <img src="../../assets/images/ellipses.png" data-toggle="popover" data-placement="right" data-content="Edit | Delete" />
          </div>
        </li>
        <li>
          <div class="check">
            <input type="checkbox" />
          </div>
          <div class="logo">
            <img src="../../assets/images/programs/Arsenal_FC.png" />
          </div>
          <div class="name">Competitive Soccer</div>
          <div class="registration">546</div>
          <div class="income">$686.64</div>
          <div class="view">
            <button>View</button>
          </div>
          <div class="ellipses-container">
            <img src="../../assets/images/ellipses.png" data-toggle="popover" data-placement="right" data-content="Edit | Delete" />
          </div>
        </li>
        <li>
          <div class="check">
            <input type="checkbox" />
          </div>
          <div class="logo">
            <img src="../../assets/images/programs/Arsenal_FC.png" />
          </div>
          <div class="name">Competitive Soccer</div>
          <div class="registration">546</div>
          <div class="income">$686.64</div>
          <div class="view">
            <button>View</button>
          </div>
          <div class="ellipses-container">
            <img src="../../assets/images/ellipses.png" data-toggle="popover" data-placement="right" data-content="Edit | Delete" />
          </div>
        </li>
        <li>
          <div class="check">
            <input type="checkbox" />
          </div>
          <div class="logo">
            <img src="../../assets/images/programs/Arsenal_FC.png" />
          </div>
          <div class="name">Competitive Soccer</div>
          <div class="registration">546</div>
          <div class="income">$686.64</div>
          <div class="view">
            <button>View</button>
          </div>
          <div class="ellipses-container">
            <img src="../../assets/images/ellipses.png" data-toggle="popover" data-placement="right" data-content="Edit | Delete" />
          </div>
        </li>
      </ul>
    </div>
    <div id="programs-list" class="section">
      <div class="heading">
        Emergency Contacts
        <a href="#" class="add-new button" data-toggle="modal" data-target="#addAdministratorModal">ADD NEW</a>
      </div>
      <div class="headings">
        <div class="check">
          <input type="checkbox" />
        </div>
        <div class="star">
          Logo
        </div>
        <div class="name">
          Name
        </div>
        <div class="registration">
          Registrations
        </div>
        <div class="income">
          Total Income
        </div>
        <div class="view">
          View
        </div>
        <div class="ellipses-container">
          <img src="../../assets/images/ellipses.png" data-toggle="popover" data-placement="right" data-content="Edit | Delete" />
        </div>
      </div>
      <ul>
        <li>
          <div class="check">
            <input type="checkbox" />
          </div>
          <div class="logo">
            <img src="../../assets/images/programs/Arsenal_FC.png" />
          </div>
          <div class="name">Competitive Soccer</div>
          <div class="registration">546</div>
          <div class="income">$686.64</div>
          <div class="view">
            <button>View</button>
          </div>
          <div class="ellipses-container">
            <img src="../../assets/images/ellipses.png" data-toggle="popover" data-placement="right" data-content="Edit | Delete" />
          </div>
        </li>
        <li>
          <div class="check">
            <input type="checkbox" />
          </div>
          <div class="logo">
            <img src="../../assets/images/programs/Arsenal_FC.png" />
          </div>
          <div class="name">Competitive Soccer</div>
          <div class="registration">546</div>
          <div class="income">$686.64</div>
          <div class="view">
            <button>View</button>
          </div>
          <div class="ellipses-container">
            <img src="../../assets/images/ellipses.png" data-toggle="popover" data-placement="right" data-content="Edit | Delete" />
          </div>
        </li>
        <li>
          <div class="check">
            <input type="checkbox" />
          </div>
          <div class="logo">
            <img src="../../assets/images/programs/Arsenal_FC.png" />
          </div>
          <div class="name">Competitive Soccer</div>
          <div class="registration">546</div>
          <div class="income">$686.64</div>
          <div class="view">
            <button>View</button>
          </div>
          <div class="ellipses-container">
            <img src="../../assets/images/ellipses.png" data-toggle="popover" data-placement="right" data-content="Edit | Delete" />
          </div>
        </li>
        <li>
          <div class="check">
            <input type="checkbox" />
          </div>
          <div class="logo">
            <img src="../../assets/images/programs/Arsenal_FC.png" />
          </div>
          <div class="name">Competitive Soccer</div>
          <div class="registration">546</div>
          <div class="income">$686.64</div>
          <div class="view">
            <button>View</button>
          </div>
          <div class="ellipses-container">
            <img src="../../assets/images/ellipses.png" data-toggle="popover" data-placement="right" data-content="Edit | Delete" />
          </div>
        </li>
      </ul>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('.datetimepicker').datetimepicker({
            format: "M/D/YY"
          });

          $('[data-toggle="popover"]').popover();

          $('textarea').wysihtml5({
            toolbar: {
              "font-styles": false, //Font styling, e.g. h1, h2, etc. Default true
              "emphasis": true, //Italics, bold, etc. Default true
              "lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
              "html": false, //Button which allows you to edit the generated HTML. Default false
              "link": true, //Button to insert a link. Default true
              "image": true, //Button to insert an image. Default true,
              "color": false, //Button to change color of font  
              "blockquote": true, //Blockquote 
            }
          });
      });
  </script>
</body>
</html>