.MenuItems {
  position: fixed;
  width: 68px;
  height: 100%;
  z-index: 2; 
}
.MenuItems li {
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    height: 56px;
    box-sizing: border-box; }
    