<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../assets/stylesheets/admin.css"></link>
  <title>User Details</title>
</head>
<body class="users-detail-body">
  <div class="side-menu">
    <div class="list-item logo">
      <a href="#"></a>
    </div>
    <div class="list-item home">
      <a href="#"></a>
    </div>
    <div class="list-item group">
      <a href="#"></a>
    </div>
    <div class="list-item login" style="padding-top: 2px; padding-bottom: 2px;">
      <a href="#"></a>
    </div>
    <div class="list-item email" style="padding-top: 0px; margin-bottom: 5px;">
      <a href="#"></a>
    </div>
    <div class="list-item merchandise" style="margin-bottom: 10px;">
      <a href="#"></a>
    </div>
    <div class="list-item finance" style="margin-bottom: 8px;">
      <a href="#"></a>
    </div>
    <div class="list-item calendar">
      <a href="#"></a>
    </div>
  </div>
  <div class="users-detail-container">
    <div class="nav-bar roboto">
      <form action="">
        <input type="text" class="nav-bar-search" placeholder="Search">
      </form>
      <div class="nav-bar-profile roboto">
        <p>Tony Alvarez</p>
        <img src="../../assets/images/AlvarezProfile.png" alt="User Image">
        <img src="../../assets/images/arrow icon.png" alt="Drop Down Menu">
      </div>
    </div>
    <div class="users-detail-main-content">
      <div class="selection-panel">
        <div class="selection-panel-item">Household</div>
        <div class="selection-panel-item">Players</div>
        <div class="selection-panel-item">Coaches</div>
        <div class="selection-panel-item">Referees</div>
      </div>
      <div class="user-detail-body">
        <div class="user-detail-body-panel">
          <div class="user-detail-body-title">
            View Member Details
          </div>
        </div>
        <div class="user-detail-body-panel">
          <img src="../../assets/images/user.png" alt="Default User Image">
          <form class="user-detail-user-form" action="#">
            <div class="user-detail-user-input">
              <input placeholder="First Name" type="text">
              <input placeholder="Email" type="text">
              <input placeholder="Gender" type="text">
            </div>
            <div class="user-detail-user-input">
              <input placeholder="Last Name" type="text">
              <input placeholder="Mobile Number" type="text">
              <input placeholder="Birthday" type="text">
            </div>
          </form>
        </div>
        <div class="user-detail-body-panel">
          <div class="user-detail-body-title">
            Login
          </div>
          <div>
            <input type="text">
            <button>Send Invite</button>
            <button>Reset Password?</button>
          </div>
        </div>
        <div class="user-detail-body-panel">
          <div class="user-detail-body-title">
            Login
          </div>
          <div>
            <div>
              <input placeholder="Street Address" type="text">
            </div>
            <div>
              <input placeholder="City" type="text">
              <input placeholder="State" type="text">
              <input placeholder="Zip" type="text">
            </div>
          </div>
        </div>
        <div class="user-detail-body-panel">
          <div class="user-detail-body-title">
            Relationships
          </div>
          <div>
            <input placeholder="Select Member" type="text">
            <input placeholder="Relationship" type="text">
            <input type="checkbox"> Access Financials</input>
          </div>
        </div>
        <div class="user-detail-body-panel">
          <img src="../../assets/images/add user icon.png" alt="Add User"> <p>Add Another</p>
        </div>
        <div class="user-detail-body-panel">
          <div class="user-detail-body-title">
            Orders
          </div>
          <div>All <img src="../../assets/images/arrow icon.png" alt="Order Filter"></div>
        </div>
        <div class="user-detail-body-order-list">
          <div class="user-detail-order-list-header">
            <div class="checkbox"></div>
            <div>Logo</div>
            <div>Organization</div>
            <div>Program</div>
            <div>Order No.</div>
            <div>Date</div>
            <div>Payment</div>
          </div>
          <div class="user-detail-order-list-body">
            <div class="checkbox"></div>
            <div>Logo</div>
            <div>Atletico Madrid</div>
            <div>Competitive Soccer</div>
            <div>190456</div>
            <div>12/01/2010</div>
            <div>$ 686.64</div>
            <div class="view-button">
              VIEW
            </div>
          </div>
          <div class="user-detail-order-list-body">
            <div class="checkbox"></div>
            <div>Logo</div>
            <div>Inter Milan</div>
            <div>Recreational Soccer</div>
            <div>190455</div>
            <div>01/15/2011</div>
            <div>$ 686.64</div>
            <div class="view-button">
              VIEW
            </div>
          </div>
          <div class="user-detail-order-list-body">
            <div class="checkbox"></div>
            <div>Logo</div>
            <div>Everton</div>
            <div>Training Camp</div>
            <div>190454</div>
            <div>03/18/2011</div>
            <div>$ 686.64</div>
            <div class="view-button">
              VIEW
            </div>
          </div>
          <div class="user-detail-order-list-body">
            <div class="checkbox"></div>
            <div>Logo</div>
            <div>Boca Juniors</div>
            <div>Summer Camp</div>
            <div>190453</div>
            <div>06/28/2012</div>
            <div>$ 686.64</div>
            <div class="view-button">
              VIEW
            </div>
          </div>
          <div class="user-detail-order-list-body">
            <div class="checkbox"></div>
            <div>Logo</div>
            <div>Arsenal FC</div>
            <div>Summer Camp</div>
            <div>190452</div>
            <div>04/13/2015</div>
            <div>$ 686.64</div>
            <div class="view-button">
              VIEW
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>