<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="../../assets/stylesheets/bootstrap.min.css" />
  <link rel="stylesheet" href="../../assets/stylesheets/bootstrap-datetimepicker.min.css" />
  <link rel="stylesheet" href="../../assets/stylesheets/main.css" />
  <script src="../../assets/javascript/jquery.min.js"></script>
  <script type="text/javascript" src="../../assets/javascript/moment.js"></script>
  <script src="../../assets/javascript/chart.min.js"></script>
  <script src="../../assets/javascript/bootstrap.min.js"></script>
  <script type="text/javascript" src="../../assets/javascript/bootstrap-datetimepicker.min.js"></script>
  <script type="text/javascript" src="../../assets/javascript/bootstrap3-wysihtml5.min.js"></script>
</head>
<body>
  <div class="menubar">
    <ul>
      <li class="logo">
        <a href="#"></a>
      </li>
      <li class="hamburger">
        <a href="#"></a>
      </li>
      <li class="home">
        <a href="#"></a>
      </li>
      <li class="world">
        <a href="#"></a>
      </li>
      <li class="profile">
        <a href="#"></a>
      </li>
      <li class="money">
        <a href="#"></a>
      </li>
      <li class="settings active">
        <a href="#"></a>
      </li>
    </ul>
  </div>
  <div class="content-container">
    <div class="navbar">
      <div class="group-logo"\>
        <img src="../../assets/images/programs/Arsenal_FC_lg.png" />
        <p>Arsenal FC</p>
      </div>
      <div class="profile-info">
        <div class="nameplate">
          Tony Alvarez
        </div>
        <img class="avatar" src="" />
        <img class="dropdown" src="../../assets/images/dropdown.png" />
      </div>
    </div>
    <div class="wrapper">
      <ul id="program-steps" class="section">
        <li>
          <div class="checkmark-circle completed">
          </div>
          <h3>First Step</h3>
          <p>Description</p>
        </li>
        <li>
          <div class="checkmark-circle completed">
          </div>
          <h3>Second Step</h3>
          <p>Documents</p>
        </li>
        <li>
          <div class="checkmark-circle completed">

          </div>
          <h3>Third Step</h3>
          <p>Questions</p>
        </li>
        <li>
          <div class="checkmark-circle completed">

          </div>
          <h3>Fourth Step</h3>
          <p>Divisions</p>
        </li>
        <li>
          <div class="checkmark-circle">

          </div>
          <h3>Fifth Step</h3>
          <p>Messages</p>
        </li>
        <li>
          <div class="checkmark-circle">

          </div>
          <h3>Sixth Step</h3>
          <p>Complete</p>
        </li>
      </ul>
      <div id="divisions" class="section programs">
        <div class="heading">
          Divisions
        </div>
        <div class="content-left container">
          <div class="row">
            <div class="col-md-12 subheading">
              Details
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <input type="text" placeholder="Division Name" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <input type="text" placeholder="Age Range" class="datetimepicker" id='datetimepicker1' />
            </div>
            <div class="col-md-3">
              <input type="text" placeholder="Age Range" class="datetimepicker" id='datetimepicker1' />
            </div>
            <div class="col-md-3">
              <div class="dropdown">
                <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <span class="dropdown-label">Gender</span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3">
              <input type="text" placeholder="Max # of Players" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 subheading">
              Dates
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <input type="text" placeholder="Registration Open" class="datetimepicker" id='datetimepicker1' />
            </div>
            <div class="col-md-4">
              <input type="text" placeholder="Late Fee Start Date" class="datetimepicker" id='datetimepicker1' />
            </div>
            <div class="col-md-4">
              <input type="text" placeholder="Registration Close" class="datetimepicker" id='datetimepicker1' />
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 subheading">
              Fees
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <input type="text" placeholder="Program Fee" />
            </div>
            <div class="col-md-3">
              <input type="text" placeholder="Late Fee" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 checkbox-row">
              <input type="checkbox" id="waitlist" /> <label for="waitlist">Enable Waitlist</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 checkbox-row">
              <input type="text" placeholder="Waitlist Start Date" class="datetimepicker" id='datetimepicker1' />
            </div>
          </div>
          <button class="save-button">SAVE</button>
        </div>
        <div class="content-right">
          <div class="photo-form-table gray-border">
            <div class="headings">
              <p class="role">Role</p>
              <p class="enable">Enable</p>
            </div>
            <ul class="photo-form-list">
              <li>
                <p class="role">2010 Boys</p>
                <div class="enable">
                  <input type="checkbox" />
                </div>
                <img src="../../assets/images/ellipses.png" data-toggle="popover" data-placement="right" data-content="Edit | Delete" />
              </li>
              <li>
                <p class="role">2009 Boys</p>
                <div class="enable">
                  <input type="checkbox" />
                </div>
                <img src="../../assets/images/ellipses.png" data-toggle="popover" data-placement="right" data-content="Edit | Delete" />
              </li>
              <li>
                <p class="role">2008 Boys</p>
                <div class="enable">
                  <input type="checkbox" />
                </div>
                <img src="../../assets/images/ellipses.png" data-toggle="popover" data-placement="right" data-content="Edit | Delete" />
              </li>
              <li>
                <p class="role">2007 Boys</p>
                <div class="enable">
                  <input type="checkbox" />
                </div>
                <img src="../../assets/images/ellipses.png" data-toggle="popover" data-placement="right" data-content="Edit | Delete" />
              </li>
            </ul>
          </div>
        </div>
        <div class="footer-buttons">
          <button class="cancel-button">CANCEL</button>
          <button class="next-button">NEXT</button>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('.datetimepicker').datetimepicker({
            format: "M/D/YY"
          });

          $('textarea').wysihtml5({
            toolbar: {
              "font-styles": false, //Font styling, e.g. h1, h2, etc. Default true
              "emphasis": true, //Italics, bold, etc. Default true
              "lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
              "html": false, //Button which allows you to edit the generated HTML. Default false
              "link": true, //Button to insert a link. Default true
              "image": true, //Button to insert an image. Default true,
              "color": false, //Button to change color of font  
              "blockquote": true, //Blockquote 
            }
          });
      });
  </script>
</body>
</html>