.Drag-File {
  text-align: center;
  border-radius: 4px;
  box-sizing: border-box; }
  .Drag-File.Program {
    margin-top: 35px; }
  .Drag-File > div {
    width: 235px;
    height: 180px;
    border: 2px dashed #E5E5E5;
    color: #CCCCCC;
    background: url("../../assets/images/cloud-icon.png") center 33px no-repeat;
    font-size: 12px;
    margin: 0 auto; }
    .Drag-File > div p {
      margin: 110px auto 0;
      width: 100px; }
    .Drag-File > div + p {
      color: #666666;
      font-size: 14px;
      margin: 13px auto;
      text-align: center; }
  .Drag-File p {
    line-height: 19px; }
  .Drag-File a {
    text-decoration: none;
    color: #4A90E2; }
