.Button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  width: 100%;
  font-weight: bold;
  margin: 0 auto; }
  .Button > span {
    display: inline-block;
    width: 20px;
    height: 18px;
    vertical-align: middle;
    background-repeat: no-repeat;
    margin-right: 30px; }
  .Button:hover {
    cursor: pointer; }
  .Button.Success {
    color: #5C9210; }
  .Button.Danger {
    color: #944317; }
  .Button.Cinch {
    background-color: black;
    color: #afafaf;
    border-radius: 6;
    font-size: 10pt;
    letter-spacing: 1.6pt; }
  .Button.black {
    height: 50px;
    background-color: #141414;
    color: #FFFFFF;
    font-size: 12px;
    font-family: "Montserrat Light";
    text-transform: uppercase; }
  .Button.blue {
    background-color: #1875F0;
    border-radius: 4px;
    height: 50px;
    margin: 0 auto;
    display: block; }
  .Button.Facebook {
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    background-color: #3b5998;
    color: white;
    height: 42px;
    font-family: "Roboto Medium";
    font-size: 14px; }
    .Button.Facebook span {
      background-image: url("../../../assets/images/facebook-button.png"); }
  .Button.Google {
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.54);
    font-family: "Roboto Medium";
    font-size: 14px;
    height: 42px; }
    .Button.Google span {
      background-image: url("../../../assets/images/google-button.png"); }
