.login {
  padding-top: 100px;
  padding-bottom: 200px; }
  .login > * {
    margin: 0 auto; }
  .login h2 {
    color: #141414;
    font-size: 42px;
    font-family: 'Montserrat', sans-serif;
    text-align: center; }
  .login input[type=checkbox] {
    margin-right: 10px; }
  .login p {
    font-size: 14px;
    display: inline-block;
    vertical-align: middle; }
  .login a, .login a:hover, .login a:visited {
    text-decoration: underline;
    color: #141414; }
  .login .bordered-container {
    border: 1px solid rgba(20, 20, 20, 0.2);
    border-radius: 10px;
    padding: 50px;
    margin-top: 50px; }
  .login .image-container {
    text-align: center; }
    .login .image-container > * {
      display: inline-block;
      margin: 20px; }
  .login .register-instead {
    font-size: 14px;
    font-family: "Montserrat Light";
    text-align: center;
    width: 100%;
    display: inline-block; }

.login-container {
  height: 667px;
  width: 470px;
  border-radius: 10px;
  padding: 48px 50px;
  margin-left: auto;
  margin-right: auto; }

.login-header {
  font-size: 3em; }

.login-form-box {
  width: 470px;
  height: 667px; }
  .login-form-box Col,
  .login-form-box input {
    width: 370px !important; }

#login-email,
#login-password {
  width: 100%; }

#login-email::placeholder,
#login-password::placeholder {
  padding: 0px 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14pt;
  letter-spacing: 0pt !important; }

.btn-row .Button {
  width: 100%; }
