#OrderHistory {
  .total-bar {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #808080;

    .left {
      float: left;
      padding-left: 30px;
    }
    .right {
      float: right;
      padding-right: 40px;
    }
  }
}