.Navbar {
  height: 91px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 12px;
  text-align: right;
  box-sizing: border-box;
  font-size: 14px;
  color: #999999;

  > * {
    display: inline-block;
    vertical-align: middle;
  }

  .group-logo {
    float: left;
    width: 200px;
    text-align: left;
    padding: 14px 21px;

    > * {
      display: inline-block;
    }

    img {
      width: 51px;
      height: 60px;
      vertical-align: top;
    }

    p {
      margin-top: 20px;
      margin-left: 23px;
      color: #666;
    }
  }
  .profile-info {
    width: 300px;
    margin-top: 28px;
    margin-right: 38px;

    > * {
      display: inline-block;
    }
    .nameplate {
      padding-right: 16px;
      color: #999;
    }
    .avatar {
      height: 36px;
      width: 36px;
      border-radius: 36px;
      background-color: #ccc;
      margin: 0 10px;
    }
    .dropdown-icon {
      margin-left: 10px;
    }
  }
}