.labeled-input {
  margin-bottom: 0;
  
  span {
    font-size: 12px;
    color: #141414;
    font-family: "Montserrat Light";
    text-transform: uppercase;
    margin-bottom: 7px;
    display: block;
    height: 18px;
  }
}