.calendar-menu {
  position: absolute;
  top: 18px;
  right: 40px; }
  .calendar-menu > * {
    display: inline-block;
    color: #808080;
    margin-right: 18px; }
    .calendar-menu > *:first-child {
      margin-top: 4px; }
    .calendar-menu > *:last-child {
      margin-right: 30px; }
