.center-menu {
  position: absolute;
  left: 40%;
  top: 0;
  li {
    color: #999;
    font-size: 14px;
    display: inline-block;
    padding: 21px;

    &.selected {
      color: #1875F0;
      border-bottom: 2px solid #1875F0;
    }
  }
}