.ReactTable .rt-thead .rt-tr {
  padding: 0; }

.ReactTable .rt-thead .rt-th {
  display: inline-block;
  font-size: 13px;
  color: #666666;
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box; }

.ReactTable .rt-tr {
  border-bottom: 2px solid #F5F5F5;
  list-style: none;
  color: #999999;
  font-size: 13px; }
  .ReactTable .rt-tr .rt-td {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    vertical-align: middle;
    box-sizing: border-box; }

.ReactTable .-loading {
  display: none; }

.ReactTable .avatar-image {
  background-color: #ccc;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  position: absolute;
  top: 0;
  left: 0; }
