.footer-buttons {
  padding: 30px 0 20px;
  text-align: right; }
  .footer-buttons.centered {
    text-align: center; }
  .footer-buttons button {
    font-family: "Roboto-Black";
    padding: 11px 0 9px 0;
    width: 104px;
    height: 40px;
    font-size: 10px; }
  .footer-buttons .cancel-button {
    border: 0;
    color: #B3B3B3; }
  .footer-buttons .next-button {
    border: 2px solid #000000;
    border-radius: 4px; }
  .footer-buttons .save-button {
    display: inline-block;
    margin-top: 5px;
    padding-top: 10px;
    color: #B3B3B3;
    border: 2px solid #F5F5F5;
    border-radius: 4px; }
    .footer-buttons .save-button.black {
      border-color: #000;
      color: #000; }
