.info-display {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin: 0 0 15px 0 !important;
  width: 1142px; }
  .info-display .line-break {
    display: flex;
    align-items: center;
    margin: 30px 0;
    width: 3px;
    height: 90px;
    border: 1px inset rgba(155, 155, 155, 0.15); }
  .info-display .display-btn {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 64px;
    width: 64px;
    border-radius: 100%;
    border: 1px solid rgba(155, 155, 155, 0.35);
    box-shadow: 1px;
    margin-bottom: 0;
    padding-top: 0; }
    .info-display .display-btn > img {
      align-self: center; }
    .info-display .display-btn:hover {
      border: 1px solid rgba(155, 155, 155, 0.15);
      cursor: pointer;
      box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.05); }
  .info-display .info-display__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 !important; }
    .info-display .info-display__container .info-display-content__container {
      padding: 0; }
  .info-display .info-display__content {
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    margin-bottom: 0;
    padding-bottom: 0; }
  .info-display .numbers {
    padding-bottom: 0 !important;
    font-size: 2.4rem;
    color: #808080; }
  .info-display .content-title {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 0 !important;
    font-size: 1.4rem;
    white-space: nowrap;
    color: #b3b3b3; }
