.info-display {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin: 0 0 15px 0 !important;
  width: 1142px;
  .line-break {
    display: flex;
    align-items: center;
    margin: 30px 0;
    width: 3px;
    height: 90px;
    border: 1px inset rgba(155, 155, 155, 0.15);
  }
  .display-btn{
    display: flex;
    align-content: center;
    justify-content: center;
    height: 64px;
    width: 64px;
    border-radius: 100%;
    border: 1px solid rgba(155, 155, 155, 0.35);
    box-shadow: 1px;
    margin-bottom: 0;
    padding-top: 0;
    > img {
      align-self: center;
    }
    &:hover {
      border: 1px solid rgba(155, 155, 155, 0.15);
      cursor: pointer;
      box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.05);
    }
  }
  .info-display__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
  }
  .info-display__content {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    margin-bottom: 0;
    padding-bottom: 1.5rem;
  }
  .numbers {
    font-size: 2.4rem;
    color: #808080
  }
  .content-title {
    font-size: 1.4rem;
    white-space: nowrap;
    color: #b3b3b3
  }
}
