.ReactTable {
  .rt-thead {
    .rt-tr {
      padding: 0;
    }

    .rt-th {
      display: inline-block;
      font-size: 13px;
      color: #666666;
      padding-top: 20px;
      padding-bottom: 20px;
      box-sizing: border-box;
      vertical-align: middle;
    }
  }

  .rt-tr-group:last-child .rt-tr {
    border-bottom: 0;
  }

  .rt-tr {
    border-bottom: 2px solid #F5F5F5;
    list-style: none;
    color: #999999;
    font-size: 13px;

    .rt-td {
      display: inline-block;
      padding-top: 20px;
      padding-bottom: 20px;
      position: relative;
      vertical-align: middle;
      box-sizing: border-box;
    }
  }

  .-loading {
    display: none;
  }

  .avatar-image {
    background-color: #ccc;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .logo-image {
    height: 40px;
  }

  .pagination-top {
    position: absolute;
    top: 22px;
    right: 200px;
    width: 250px;

    .-pagination > * {
      display: inline-block;
    }

    .-btn {
      text-indent: 110%;
      overflow: hidden;
      width: 36px;
      height: 30px;
      border-radius: 4px;
      padding: 0;
    }

    .-pageJump {
      display: inline-block;

      input {
        width: 30px;
        border-radius: 4px;
        text-align: center;
        border: 2px solid #F5F5F5;
      }
    }

    .-previous button {
      background: url(../assets/images/caret-left.png);
      background-repeat: no-repeat;
      background-position: center;
    }

    .-center {
      color: #B3B3B3;
      font-size: 9px;
      text-transform: uppercase;
      letter-spacing: 1.3px;
      padding: 0 10px;
    }

    .-next button {
      background: url(../assets/images/caret-right.png);
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}