.ReactTable .rt-thead .rt-tr {
  padding: 0; }

.ReactTable .rt-thead .rt-th {
  display: inline-block;
  font-size: 13px;
  color: #666666;
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box; }

.ReactTable .rt-tr {
  border-bottom: 2px solid #F5F5F5;
  list-style: none;
  color: #999999;
  font-size: 13px; }
  .ReactTable .rt-tr .rt-td {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    vertical-align: middle;
    box-sizing: border-box; }

.ReactTable .-loading {
  display: none; }

.ReactTable .avatar-image {
  background-color: #ccc;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  position: absolute;
  top: 0;
  left: 0; }

.ReactTable .pagination-top {
  position: absolute;
  top: 22px;
  right: 200px;
  width: 250px; }
  .ReactTable .pagination-top .-pagination > * {
    display: inline-block; }
  .ReactTable .pagination-top .-btn {
    text-indent: 110%;
    overflow: hidden;
    width: 36px;
    height: 30px;
    border-radius: 4px;
    padding: 0; }
  .ReactTable .pagination-top .-pageJump {
    display: inline-block; }
    .ReactTable .pagination-top .-pageJump input {
      width: 30px;
      border-radius: 4px;
      text-align: center;
      border: 2px solid #F5F5F5; }
  .ReactTable .pagination-top .-previous button {
    background: url(../../../assets/images/caret-left.png);
    background-repeat: no-repeat;
    background-position: center; }
  .ReactTable .pagination-top .-center {
    color: #B3B3B3;
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    padding: 0 10px; }
  .ReactTable .pagination-top .-next button {
    background: url(../../../assets/images/caret-right.png);
    background-repeat: no-repeat;
    background-position: center; }
