@font-face {
  font-family: "Montserrat ExtraLight";
  src: url("../../assets/fonts/Montserrat/Montserrat-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat Light";
  src: url("../../assets/fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
  font-weight: "300";
}
.footer {
  padding-top: 76px;
  span {
    font-family: "Montserrat Light";
    color: #141414;
    font-size: 12px;
    display: block;
    margin-bottom: 25px;
    width: 100%;
  }
  a {
    font-family: "Montserrat ExtraLight";
    color: #141414;
    font-size: 16px;
    display: block;
    margin-bottom: 12px;

    &:first-child {
      margin-left: -8px;
    }
  }

  .follow a {
    display: inline-block;
    width: 41px;
    text-align: center;
  }

  .newsletter {

    input {
      background-color: #ffffff;
      width: 261px;
      height: 50px;
      box-sizing: border-box;
      padding-left: 20px;
      &::placeholder {
        font-family: "Montserrat Light";
        color: rgba(20,20,20, 0.3);
        font-size: 14px;
      }
    }
  }
}