.section > .heading {
  font-size: 14px;
  color: #666;
  padding: 22px 30px 21px;
  border-bottom: 2px solid #F5F5F5;
  text-align: left; }
  .section > .heading .options {
    position: absolute;
    top: 17px;
    right: 0px; }
  .section > .heading button {
    height: 30px;
    width: 97px;
    padding: 0;
    box-sizing: border-box;
    font-size: 9px;
    letter-spacing: 1.3px;
    color: #B3B3B3; }
    .section > .heading button.dropdown-toggle {
      padding-left: 17px;
      color: #B3B3B3; }
  .section > .heading .right-buttons {
    float: right; }
    .section > .heading .right-buttons .email {
      padding-left: 35px;
      background-image: url("../../../assets/images/registrations/email-icon.png");
      background-position: 13px 10px;
      background-repeat: no-repeat; }
  .section > .heading .completed .dropdown-toggle {
    width: 147px; }
  .section > .heading .export {
    width: 60px;
    height: 25px;
    font-family: "Roboto Black";
    font-size: 9px;
    color: #B3B3B3;
    border: 2px solid #F5F5F5;
    padding-top: 4px;
    float: right;
    margin-top: -2px;
    margin-right: -11px; }
  .section > .heading .add-new {
    width: 124px;
    height: 34px;
    font-size: 12px;
    font-family: "Roboto Black";
    float: right;
    padding-top: 8px;
    margin-top: -2px;
    margin-right: -5px; }
  .section > .heading .email {
    float: right;
    color: #B3B3B3;
    border: 2px solid #F5F5F5;
    width: 98px;
    height: 30px;
    padding-top: 7px;
    font-size: 9px;
    box-sizing: border-box;
    padding-left: 36px;
    background-image: url("../../../assets/images/registrations/email-icon.png");
    background-repeat: no-repeat;
    background-position: 14px 8px; }

.left-buttons {
  display: inline-block;
  margin-left: 67px;
  margin-bottom: -12px;
  white-space: nowrap; }
  .left-buttons > * {
    display: inline-block;
    vertical-align: middle;
    width: 97px;
    margin-right: 13px; }
  .left-buttons button.dropdown-toggle {
    margin-right: 9px;
    background-image: url("../../../assets/images/dropdown.png");
    background-position: right 11px top 11px;
    height: 30px;
    font-size: 9px; }
