.section > .heading {
  font-size: 14px;
  color: #666;
  padding: 22px 30px 21px;
  border-bottom: 2px solid #F5F5F5;
  text-align: left;

  button {
    height: 30px;
    width: 97px;
    padding: 0;
    box-sizing: border-box;
    font-size: 9px;
    letter-spacing: 1.3px;
    color: #B3B3B3;

    &.dropdown-toggle {
      padding-left: 17px;
      color: #B3B3B3;
    }
  }
  .right-buttons {
    float: right;

    .email {
      padding-left: 35px;
      background-image: url("../../../assets/images/registrations/email-icon.png");
      background-position: 13px 10px;
      background-repeat: no-repeat;
    }
  }

  
  .completed .dropdown-toggle {
    width: 147px;
  }
  
  .export {
    width: 60px;
    height: 25px;
    font-family: "Roboto Black";
    font-size: 9px;
    color: #B3B3B3;
    border: 2px solid #F5F5F5;
    padding-top: 4px;
    float: right;
    margin-top: -2px;
    margin-right: -11px;
  }
  .add-new {
    width: 124px;
    height: 34px;
    font-size: 12px;
    font-family: "Roboto Black";
    float: right;
    padding-top: 8px;
    margin-top: -2px;
    margin-right: -5px;
  }

  .email {
    float: right;
    color: #B3B3B3;
    border: 2px solid #F5F5F5;
    width: 98px;
    height: 30px;
    padding-top: 7px;
    font-size: 9px;
  }
}



.left-buttons {
  display: inline-block;
  margin-left: 67px;
  margin-bottom: -12px;
  white-space: nowrap;

  > * {
    display: inline-block;
    vertical-align: middle;
    width: 97px;
    margin-right: 13px;
  }
  button.dropdown-toggle {
    margin-right: 9px;
    background-image: url("../../../assets/images/dropdown.png");
    background-position: right 11px top 11px;
    height: 30px;
    font-size: 9px;
  }
}